body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c2e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#timer-app {
    text-align: center;
}

.mode-buttons {
    margin-bottom: 20px;
}

.mode-button {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #000000;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
}

.timer-display {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #000000;
}

.control-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.control-button {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-button img {
    height: 20px;
    width: 20px;
}

#start-button {
    width: auto;
}

#reset-button, #settings-button {
    width: 50px;
    height: 50px;
}

#reset-button img, #settings-button img {
    filter: invert(1);
}
